// SASS VARIABLES
$a-body: #000; 
$a-body-hover: #B8860B;

$fd-bgc: #FFF;
$fd-ul: #999;
$fd-a-bb: #CCC;
$fd-a-bg: #EEE;
$fd-a-bg-h: #666;
$fd-a-bb-h: #666;
$fd-a-tx-sh-h: #333;


$sd-bgp: #FFF;
$sd-bgp-a-clr: #FFF;
$sd-bgp-a-bd: #FFF